@import 'variable';

body {
    header {
        position: fixed;
        right: 0;
        top: 0;
        left: 0;
        background: $white;
        z-index: 999;
        width: 100%;
        background: $primary;
        .container{
            max-width: 959px;
            .headerWrapper{
                .headerRow{
                    padding: 24px;
                    box-sizing: border-box;
                    .logoBlk{
                        float: left;
                        h3{
                            span{
                                color: $white;
                            }
                        }
                    }
                    .navigationListOuterWrapper{
                        .navigationList{
                            justify-content: flex-end;
                            li{
                                .navLink{
                                    @include transitionForAll($time: 0.4s, $transProp: ease-out);
                                    padding: 8px 16px;
                                    border-radius: 8px;
                                    color: $white;
                                    border: 1px solid $white;
                                    &:hover, &.active{
                                        background: $white;
                                        color: $primary;
                                    }
                                }
                                margin-right: 32px;
                                &:last-child{
                                    margin: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .emptyHeaderdiv{
        height: 69px;
    }
    main{
        padding: 24px 32px;
        background: $color_bg;
        min-height: 90vh;
    }
    .carItemWrapper{
        background: $white;
        padding: 16px;
        border-radius: 4px;
        border: 1px solid $light_gray;
        height: 100%;
        box-sizing: border-box;
        @include transitionForAll($time: 0.4s, $transProp: ease-out);
        .featuredImg{
            width: 100%;
            height: 200px;
            margin-bottom: 16px;
            border-radius: 4px 4px 0 0;
            &.imgSkeleton{
                background: rgba(0, 0, 0, 0.11);
            }
        }
        h3{
            position: relative;
            padding: 0 32px 8px 0;
            .favIcon, span{
                vertical-align: middle;
            }
            .favIcon{
                position: absolute;
                right: 0;
                top: 0;
                width: 25px;
                cursor: pointer;
            }
        }
        &:hover{
            transform: scale(1.05);
            box-shadow: 0 2px 16px 4px rgba(40,44,63, 0.07);
        }
    }
    .noResultWrapper{
        justify-content: center;
        height: 100%;
    }
    .loadMoreBtn{
        width: 50%;
        margin: 0 auto;
        padding: 8px 12px;
        border: 1px solid $primary;
        cursor: pointer;
        border-radius: 4px;
        margin-top: 24px;
    }
}

@media (min-width: 0px) and ( max-width: 599px){
    body{

    }
}

@media (min-width: 600px) and (max-width: 959px) {
    body{

    }
}

@media (min-width: 960px) and (max-width: 1279px) {
    body{

    }
}