@import 'variable';

body{
    .favouritesSection{
        .favouritesContainer{
            .carsListingOuterWrapper{
                display: flex;
                flex-flow: row wrap;
                .cardWrapper{
                    flex-basis: 25%;
                    flex-grow: 0;
                    max-width: 25%;
                    padding: 12px;
                    box-sizing: border-box;
                }
                .noResultWrapper{
                    min-height: 70vh;
                    width: 100%;
                }
            }
        }
    }
}